<h1><span data-i18n="skills.my_skills" class='resume'>About</span></h1>

<div>
    <p>
Let me start by giving a simple introduction about my work. I am a Senior Machine Learning Researcher presently employed by product based company. I have worked in several ML projects mainly dealing with Optimization Problems, Explainable AI, Deep Learning, Imbalance Classification, et cetera...
I am also the author of a book "Machine Learning Cookbook with Python" published by BPB publications.
I have been part multiple publications through Journals and Open Publications, along with this I have few applied patents to my name.
Recently I was invited by Arizona State University to be a part of their team participating in CPS challenge 2020 funded by National Science Foundation(NSF), USA and sponsered by NASA.
I have also conducted  multiple workshops, seminars in this field of research for various universities and made contributions to Open Source Software as well.
    </p>
</div>
